@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-color: #f4f4f5;
    /* industrial-light */
    --text-color: #0a0a0a;
    /* industrial-dark */
  }

  .dark {
    --bg-color: #0a0a0a;
    /* industrial-dark */
    --text-color: #f4f4f5;
    /* industrial-light */
  }

  body {
    @apply bg-[var(--bg-color)] text-[var(--text-color)] font-body antialiased selection:bg-zrk-gold selection:text-white transition-colors duration-300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans tracking-tight;
  }
}